<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes" #scrollDown>

    <div *ngFor="let chat of chatService.chats" [ngClass]="{'text-right': chat.userUid == this.chatService.user?.uid }">
        <span [ngClass]="{'badge-primary': chat.userUid == this.chatService.user?.uid, 'badge-success' : chat.userUid != this.chatService.user?.uid }" class="badge" > 
            {{ chat.name}}
        </span>
        <p id="{{chat.userUid}}">{{ chat.message }}</p>
    </div>

</div>

<input class="form-control" type="text" name="message" [(ngModel)]="message" placeholder="Write a message" (keyup.enter)="sendMessage()">