<div class="container main-container">
    <h1>FireChat</h1>
    
    <div class="col-md-4 text-right" *ngIf="this.chatService.user?.uid">
        <button type="button" class="btn btn-outline-danger" (click)="logout()">Exit</button>
    </div>      
    <app-login *ngIf="!this.chatService.user?.uid"></app-login>

    <div class="chat-window"  *ngIf="this.chatService.user?.uid">
        <app-chat></app-chat>
    </div>

    <ngx-spinner><p class="loading">Loading Awesomeness...</p></ngx-spinner>
</div>